{% extends 'Range/MenuBase.html' %}


{% block title %}Woods Menu{% endblock %}

{% block header %}Woods Drills{% endblock %}

{% block link1 %}{% url 'WoodsTest' %}{% endblock %}

{% block link2 %}{% url 'WoodsTechnical' %}{% endblock %}

{% block link3 %}{% url 'WoodsExperimental' %}{% endblock %}

{% block link4 %}{% url 'WoodsCalibration' %}{% endblock %}

{% block link5 %}{% url 'WoodsPerformance' %}{% endblock %}

{% block link6 %}{% url 'WoodsGames' %}{% endblock %}

{% block content %}
{% endblock %}
