{% extends 'Range/MenuBase.html' %}


{% block title %}Main Menu{% endblock %}

{% block header %}Drill Areas{% endblock %}

{% block link1 %}{% url 'RangeWoods' %}{% endblock %}
{% block link1name %}Woods{% endblock %}

{% block link2 %}{% url 'RangeHybrids' %}{% endblock %}
{% block link2name %}Hybrids{% endblock %}

{% block link3 %}{% url 'RangeIrons' %}{% endblock %}
{% block link3name %}Irons{% endblock %}

{% block link4 %}{% url 'RangeWedges' %}{% endblock %}
{% block link4name %}Wedges{% endblock %}

{% block link5 %}{% url 'RangeChipping' %}{% endblock %}
{% block link5name %}Chipping{% endblock %}

{% block link6 %}{% url 'RangePutting' %}{% endblock %}
{% block link6name %}Putting{% endblock %}

{% block content %}
{% endblock %}
