<div id='centerstrike'>
  <h3>Center Strike Levels</h3>
  <p><b>Level 1: </b>Block practice 10 shots - half swing.</p>
  <p><b>Level 2: </b>Routine practice 10 shots - half swing.</p>
  <p><b>Level 3: </b>Block practice 10 shots - three-quarter swing.</p>
  <p><b>Level 4: </b>Routine practice 10 shots - three-quarter swing.</p>
  <p><b>Level 5: </b>Block practice 10 shots - full swing.</p>
  <p><b>Level 6: </b>Routine practice 10 shots - full swing.</p>
</div>

<div id='clubpath' style="display: none;">
  <div id='Club_path_buttons'>
    <input type="radio" name="path" onclick="showhook()" id="club_path_button" checked="checked"> Cure Hook
    <input type="radio" name="path" onclick="showslice()" id="club_path_button"> Cure Slice <br>
  </div>
  <h3>Club Path Levels</h3>
  <p><b>Level 1: </b>Hit ball so that it finishes to the left/right of centerline target.</p>
  <p><b>Level 2: </b>Hit ball so that it finishes to the left/right of centerline target and right/left of boundary.</p>
  <p><b>Level 3: </b>Hit ball so that it finishes to the left/right of centerline target.</p>
  <p><b>Level 4: </b>Hit ball so that it finishes to the left/right of centerline target.</p>
  <p><b>Level 5: </b>Hit ball so that it finishes to the left/right of centerline target..</p>
  <p><b>Level 6: </b>Hit ball so that it finishes to the left/right of centerline target..</p>
</div>

<div id='divotlocation' style="display: none;">
  <h3>Club Path Levels</h3>
  <p><b>Level 1: </b>Block practice 10 shots - half swing.</p>
  <p><b>Level 2: </b>Routine practice 10 shots - half swing.</p>
  <p><b>Level 3: </b>Block practice 10 shots - three-quarter swing.</p>
  <p><b>Level 4: </b>Routine practice 10 shots - three-quarter swing.</p>
  <p><b>Level 5: </b>Block practice 10 shots - full swing.</p>
  <p><b>Level 6: </b>Routine practice 10 shots - full swing.</p>
</div>
