{% extends 'Range/Header/TechnicalHeader.html' %}

{% block content %}

<head>
  <title>Chipping Technical</title>

  <style>
    html {
      border: solid 10px mediumvioletred;
      box-shadow: inset 0 0 0 5px pink;
    }
  </style>
</head>
<body>
<h1>Chipping Technical</h1>
<div id='drillrow'>
  <input type="radio" name="data" onclick="showclubhook()" id="buttonclub" checked="checked"> Distance
  <input type="radio" name="data" onclick="showclubslice()" id="buttonclub"> Direction
  <input type="radio" name="data" onclick="showcenter()" id="buttonclub"> Center Hit <br>

  <div id='clubpathhook'>
    <p><b>Level 1:</b> Distance </p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
  <div id='clubpathslice' style="display: none;">
    <p><b>Level 1:</b> Direction </p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
  <div id='centerstrike' style="display: none;">
    <p><b>Level 1:</b> Center Strike</p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
  <div id='angleofattack' style="display: none;">
    <p><b>Level 1:</b> No show</p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
</div>
</body>
{% endblock %}
