{% extends 'Range/MenuBase.html' %}


{% block title %}Chipping Menu{% endblock %}

{% block header %}Chipping Drills{% endblock %}

{% block link1 %}{% url 'ChippingTest' %}{% endblock %}

{% block link2 %}{% url 'ChippingTechnical' %}{% endblock %}

{% block link3 %}{% url 'ChippingExperimental' %}{% endblock %}

{% block link4 %}{% url 'ChippingCalibration' %}{% endblock %}

{% block link5 %}{% url 'ChippingPerformance' %}{% endblock %}

{% block link6 %}{% url 'ChippingGames' %}{% endblock %}

{% block content %}
{% endblock %}
