{% extends 'Range/MenuBase.html' %}

{% block title %}Hybrids Menu{% endblock %}

{% block header %}Hybrid Drills{% endblock %}

{% block link1 %}{% url 'HybridsTest' %}{% endblock %}

{% block link2 %}{% url 'HybridsTechnical' %}{% endblock %}

{% block link3 %}{% url 'HybridsExperimental' %}{% endblock %}

{% block link4 %}{% url 'HybridsCalibration' %}{% endblock %}

{% block link5 %}{% url 'HybridsPerformance' %}{% endblock %}

{% block link6 %}{% url 'HybridsGames' %}{% endblock %}

{% block content %}
{% endblock %}
