{% extends 'Range/MenuBase.html' %}


{% block title %}Putting Menu{% endblock %}

{% block header %}Putting Drills{% endblock %}

{% block link1 %}{% url 'PuttingTest' %}{% endblock %}

{% block link2 %}{% url 'PuttingTechnical' %}{% endblock %}

{% block link3 %}{% url 'PuttingExperimental' %}{% endblock %}

{% block link4 %}{% url 'PuttingCalibration' %}{% endblock %}

{% block link5 %}{% url 'PuttingPerformance' %}{% endblock %}

{% block link6 %}{% url 'PuttingGames' %}{% endblock %}

{% block content %}
{% endblock %}
