<!DOCTYPE html>
<html>
<head>

{% load static %}

  <title>{% block title %}Title{% endblock %}</title>

  <style>
  {% block style %}{% endblock %}
  body {
    margin: 15px;
  }
  div, table {
    padding: 5px;
  }
  th {
    text-align: left;
  }
  h2 {
    text-align: center;
  }
  .gb1{
           margin: 4px 2px 4px 2px;
           width: 100px;
       }
  #databox{
    border: 2px solid green;
    padding: 5px;
    width: auto;
  }
  #formbox{
    width: auto;
    border: 2px solid black;
  }
  #drillrow{
    padding: 10px 0px 5px 0px;
  }
  </style>
</head>
<body>
  <div id="homebutton">
    <a href="{% url 'RangeMain' %}">
      <span>Home</span>
    </a>
  </div>

<h2>{% block pageheader %}Page Header{% endblock %}</h2>

{% block formbox %}
<script>
    var attempts = 0;
    var makes = 0;
    function attempt() {
      attempts += 1;
      document.getElementById("id_shots_hit").value = attempts;
    };
    function make() {
      attempts += 1;
      makes += 1;
      document.getElementById("id_shots_hit").value = attempts;
      document.getElementById("id_shots_success").value = makes;
    };
</script>
<div id='formbox'>
   <form method="POST">{% csrf_token %}
       <p class="gb1">Area: {{ form.area }}</p>
       <p class="gb1">Phase: {{ form.phase }}</p>
       <p class="gb1">Date: {{ form.date }}</p>
       <p class="gb1">Drill: {{ form.drill }}</p>
       <p class="gb1">Detail: {{ form.detail }}</p>
       <p class="gb1">Club: {{ form.club }}</p>

       <button class="gb1" type="button" onclick="attempt()">Shot Miss</button>
       <button class="gb1" type="button" onclick="make()">Shot Success</button><br>

       <p class="gb1">Shots Hit: {{ form.shots_hit }}</p>
       <p class="gb1">Shots Success: {{ form.shots_success }}</p>

      <button class="gb1" type="submit" class="save btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}

<div id='drillrow'>
  <input type="radio" name="data" onclick="showcenterstrike()" id="buttonclub" checked="checked">{% block buttonclub1 %}Center Hit{% endblock %}
  <input type="radio" name="data" onclick="showclubpath()" id="buttonclub">{% block buttonclub2 %}Club Path{% endblock %}
  <input type="radio" name="data" onclick="showdivotlocation()" id="buttonclub">{% block buttonclub3 %}Divot Location {% endblock %} <br>
</div>

{% block drills %}
<div id='centerstrike'>
  <h3>{% block drillarea1 %}Area 1{% endblock %}</h3>
  <p> {% block drill1-1 %}{% endblock %} </p>
  <p> {% block drill1-2 %}{% endblock %} </p>
  <p> {% block drill1-3 %}{% endblock %} </p>
  <p> {% block drill1-4 %}{% endblock %} </p>
  <p> {% block drill1-5 %}{% endblock %} </p>
  <p> {% block drill1-6 %}{% endblock %} </p>
</div>
<div id='clubpath' style="display: none;">
  <h3>{% block drillarea2 %}Area 2{% endblock %}</h3>
  <p><b>Level 1:</b> {% block drill2-1 %}{% endblock %} </p>
  <p><b>Level 2:</b> {% block drill2-2 %}{% endblock %} </p>
  <p><b>Level 3:</b> {% block drill2-3 %}{% endblock %} </p>
  <p><b>Level 4:</b> {% block drill2-4 %}{% endblock %} </p>
  <p><b>Level 5:</b> {% block drill2-5 %}{% endblock %} </p>
  <p><b>Level 6:</b> {% block drill2-6 %}{% endblock %} </p>
</div>
<div id='divotlocation' style="display: none;">
  <h3>{% block drillarea3 %}Area 3{% endblock %}</h3>
  <p><b>Level 1:</b> {% block drill3-1 %}{% endblock %} </p>
  <p><b>Level 2:</b> {% block drill3-2 %}{% endblock %} </p>
  <p><b>Level 3:</b> {% block drill3-3 %}{% endblock %} </p>
  <p><b>Level 4:</b> {% block drill3-4 %}{% endblock %} </p>
  <p><b>Level 5:</b> {% block drill3-5 %}{% endblock %} </p>
  <p><b>Level 6:</b> {% block drill3-6 %}{% endblock %} </p>
</div>
{% endblock %}

{% block drillhistory %}
<div id="techsheet">
  <table width="100%" style="border: 3px solid black;">
    <tr style="border: 1px solid black;">
      <th>Area</th>
      <th>Phase</th>
      <th>Date</th>
      <th>Drill</th>
      <th>Detail</th>
      <th>Club</th>
      <th>Shots Hit</th>
      <th>Shots Success</th>
    </tr>
    {% for shot in shots %}
    <tr>
        <td>{{ shot.area }}</td>
        <td>{{ shot.phase }}</td>
        <td>{{ shot.date }}</td>
        <td>{{ shot.drill }}</td>
        <td>{{ shot.detail }}</td>
        <td>{{ shot.club }}</td>
        <td>{{ shot.shots_hit }}</td>
        <td>{{ shot.shots_success }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}

<script>
  var today = new Date();
  var stringmonth = 1 + today.getMonth();
  var stringdate = stringmonth + '/' + today.getDate() + '/' +
    today.getFullYear();
    document.getElementById('id_date').value = stringdate;

  function showcenterstrike() {
    document.getElementById('centerstrike').style.display="block";
    document.getElementById('clubpath').style.display="none";
    document.getElementById('divotlocation').style.display="none";
  }
  function showclubpath() {
    document.getElementById('centerstrike').style.display="none";
    document.getElementById('clubpath').style.display="block";
    document.getElementById('divotlocation').style.display="none";
  }
  function showdivotlocation() {
    document.getElementById('centerstrike').style.display="none";
    document.getElementById('clubpath').style.display="none";
    document.getElementById('divotlocation').style.display="block";
  }

  {% block script %} {% endblock %}
</script>

</body>
