{% extends 'Range/DrillBase.html' %}

{% block drills %}

<div id='drillrow'>
  <input type="radio" name="data" onclick="showcenterstrike()" id="buttonclub" checked="checked">{% block buttonclub1 %}Center Hit{% endblock %}
  <input type="radio" name="data" onclick="showclubpath()" id="buttonclub">{% block buttonclub2 %}Club Path{% endblock %}
  <input type="radio" name="data" onclick="showdivotlocation()" id="buttonclub">{% block buttonclub3 %}Divot Location {% endblock %} <br>
</div>

  <div id='centerstrike'>
    <h3>{% block drillarea1 %}Area 1{% endblock %}</h3>
    <ul>
        <li>{% block drill1-1 %}{% endblock %} </li>
        <li>{% block drill1-2 %}{% endblock %} </li>
        <li>{% block drill1-3 %}{% endblock %} </li>
    </ul>
  </div>
  <div id='clubpath' style="display: none;">
    <h3>{% block drillarea2 %}Area 2{% endblock %}</h3>
    <ul>
        <li>{% block drill2-1 %}{% endblock %} </li>
        <li>{% block drill2-2 %}{% endblock %} </li>
        <li>{% block drill2-3 %}{% endblock %} </li>
    </ul>
  </div>
  <div id='divotlocation' style="display: none;">
    <h3>{% block drillarea3 %}Area 3{% endblock %}</h3>
    <ul>
        <li>{% block drill3-1 %}{% endblock %} </li>
        <li>{% block drill3-2 %}{% endblock %} </li>
        <li>{% block drill3-3 %}{% endblock %} </li>
    </ul>
  </div>
{% endblock %}
