{% extends 'Range/DrillBase.html' %}

{% block formbox %}
<script>
    var attempts = 0;
    var makes = 0;
    function attempt() {
      attempts += 1;
      document.getElementById("id_shots_hit").value = attempts;
    };
    function make() {
      attempts += 1;
      makes += 1;
      document.getElementById("id_shots_hit").value = attempts;
      document.getElementById("id_shots_success").value = makes;
    };
</script>
<div id='formbox'>
   <form method="POST">{% csrf_token %}
       <p class="gb1">Date: {{ form.date }}</p>
       <p class="gb1">Area: {{ form.area }}</p>
       <p class="gb1">Detail: {{ form.detail }}</p>
       <p class="gb1">Level: {{ form.level }}</p>
       {% block club %}<p class="gb1">Club: {{ form.club }}</p>{% endblock %}

       <button class="gb1" type="button" onclick="attempt()">Shot Miss</button>
       <button class="gb1" type="button" onclick="make()">Shot Success</button><br>

       <p class="gb1">Shots Hit: {{ form.shots_hit }}</p>
       <p class="gb1">Shots Success: {{ form.shots_success }}</p>


      <button class="gb1" type="submit" class="save btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}

{% block drills %}


<div id='drillrow'>
  <input type="radio" name="data" onclick="showcenterstrike()" id="buttonclub" checked="checked">{% block buttonclub1 %}Center Hit{% endblock %}
  <input type="radio" name="data" onclick="showclubpath()" id="buttonclub">{% block buttonclub2 %}Club Path{% endblock %}
  <input type="radio" name="data" onclick="showdivotlocation()" id="buttonclub">{% block buttonclub3 %}Divot Location {% endblock %} <br>
</div>

  <div id='centerstrike'>
    <h3>{% block drillarea1 %}Area 1{% endblock %}</h3>
    <p><b>Level 1:</b> {% block drill1-1 %}{% endblock %} </p>
    <p><b>Level 2:</b> {% block drill1-2 %}{% endblock %} </p>
    <p><b>Level 3:</b> {% block drill1-3 %}{% endblock %} </p>
    <p><b>Level 4:</b> {% block drill1-4 %}{% endblock %} </p>
    <p><b>Level 5:</b> {% block drill1-5 %}{% endblock %} </p>
    <p><b>Level 6:</b> {% block drill1-6 %}{% endblock %} </p>
  </div>
  <div id='clubpath' style="display: none;">
    <h3>{% block drillarea2 %}Area 2{% endblock %}</h3>
    <p><b>Level 1:</b> {% block drill2-1 %}{% endblock %} </p>
    <p><b>Level 2:</b> {% block drill2-2 %}{% endblock %} </p>
    <p><b>Level 3:</b> {% block drill2-3 %}{% endblock %} </p>
    <p><b>Level 4:</b> {% block drill2-4 %}{% endblock %} </p>
    <p><b>Level 5:</b> {% block drill2-5 %}{% endblock %} </p>
    <p><b>Level 6:</b> {% block drill2-6 %}{% endblock %} </p>
  </div>
  <div id='divotlocation' style="display: none;">
    <h3>{% block drillarea3 %}Area 3{% endblock %}</h3>
    <p><b>Level 1:</b> {% block drill3-1 %}{% endblock %} </p>
    <p><b>Level 2:</b> {% block drill3-2 %}{% endblock %} </p>
    <p><b>Level 3:</b> {% block drill3-3 %}{% endblock %} </p>
    <p><b>Level 4:</b> {% block drill3-4 %}{% endblock %} </p>
    <p><b>Level 5:</b> {% block drill3-5 %}{% endblock %} </p>
    <p><b>Level 6:</b> {% block drill3-6 %}{% endblock %} </p>
  </div>
{% endblock %}

{% block drillhistory %}
<div id="techsheet">
  <table width="100%" style="border: 3px solid black;">
    <tr style="border: 1px solid black;">
      <th>Date</th>
      <th>Area</th>
      <th>Detail</th>
      <th>Level</th>
      <th>Club</th>
      <th>Shots Hit</th>
      <th>Shots Success</th>
    </tr>
    {% for shot in shots %}
    <tr>
        <td>{{ shot.date }}</td>
        <td>{{ shot.area }}</td>
        <td>{{ shot.detail }}</td>
        <td>{{ shot.level }}</td>
        <td>{{ shot.club }}</td>
        <td>{{ shot.shots_hit }}</td>
        <td>{{ shot.shots_success }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
