{% extends 'Range/DrillBase.html' %}

{% block drills %}

<div id='drillrow'>
  <input type="radio" name="data" onclick="showcenterstrike()" id="buttonclub" checked="checked">{% block buttonclub1 %}Center Hit{% endblock %}
  <input type="radio" name="data" onclick="showclubpath()" id="buttonclub">{% block buttonclub2 %}Club Path{% endblock %}
  <input type="radio" name="data" onclick="showdivotlocation()" id="buttonclub">{% block buttonclub3 %}Divot Location {% endblock %} <br>
</div>

  <div id='centerstrike'>
    <h3>{% block drillarea1 %}Area 1{% endblock %}</h3>
    <p><b>Level 1:</b> {% block drill1-1 %}{% endblock %} </p>
    <p><b>Level 2:</b> {% block drill1-2 %}{% endblock %} </p>
    <p><b>Level 3:</b> {% block drill1-3 %}{% endblock %} </p>
    <p><b>Level 4:</b> {% block drill1-4 %}{% endblock %} </p>
    <p><b>Level 5:</b> {% block drill1-5 %}{% endblock %} </p>
    <p><b>Level 6:</b> {% block drill1-6 %}{% endblock %} </p>
  </div>
  <div id='clubpath' style="display: none;">
    <h3>{% block drillarea2 %}Area 2{% endblock %}</h3>
    <p><b>Level 1:</b> {% block drill2-1 %}{% endblock %} </p>
    <p><b>Level 2:</b> {% block drill2-2 %}{% endblock %} </p>
    <p><b>Level 3:</b> {% block drill2-3 %}{% endblock %} </p>
    <p><b>Level 4:</b> {% block drill2-4 %}{% endblock %} </p>
    <p><b>Level 5:</b> {% block drill2-5 %}{% endblock %} </p>
    <p><b>Level 6:</b> {% block drill2-6 %}{% endblock %} </p>
  </div>
  <div id='divotlocation' style="display: none;">
    <h3>{% block drillarea3 %}Area 3{% endblock %}</h3>
    <p><b>Level 1:</b> {% block drill3-1 %}{% endblock %} </p>
    <p><b>Level 2:</b> {% block drill3-2 %}{% endblock %} </p>
    <p><b>Level 3:</b> {% block drill3-3 %}{% endblock %} </p>
    <p><b>Level 4:</b> {% block drill3-4 %}{% endblock %} </p>
    <p><b>Level 5:</b> {% block drill3-5 %}{% endblock %} </p>
    <p><b>Level 6:</b> {% block drill3-6 %}{% endblock %} </p>
  </div>
{% endblock %}
