{% extends 'Range/TechnicalHeader.html' %}

{% block content %}

<head>
  <title>Putting Technical</title>
  <style>
    html {
      border: solid 10px brown;
      box-shadow: inset 0 0 0 5px peru;
    }
  </style>
</head>
<body>
<h1>Putting Technical</h1>
<div id='drillrow'>
  <input type="radio" name="data" onclick="showclubhook()" id="buttonclub" checked="checked"> Speed
  <input type="radio" name="data" onclick="showclubslice()" id="buttonclub"> Line <br>

  <div id='clubpathhook'>
    <p><b>Level 1:</b> Speed </p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
  <div id='clubpathslice' style="display: none;">
    <p><b>Level 1:</b> Line </p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
  <div id='centerstrike' style="display: none;">
    <p><b>Level 1:</b> No Data</p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
  <div id='angleofattack' style="display: none;">
    <p><b>Level 1:</b> No Data</p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
</div>
</body>
{% endblock %}
