{% extends 'Range/MenuBase.html' %}


{% block title %}Wedges Menu{% endblock %}

{% block header %}Wedges Drills{% endblock %}

{% block link1 %}{% url 'WedgesTest' %}{% endblock %}

{% block link2 %}{% url 'WedgesTechnical' %}{% endblock %}

{% block link3 %}{% url 'WedgesExperimental' %}{% endblock %}

{% block link4 %}{% url 'WedgesCalibration' %}{% endblock %}

{% block link5 %}{% url 'WedgesPerformance' %}{% endblock %}

{% block link6 %}{% url 'WedgesGames' %}{% endblock %}

{% block content %}
{% endblock %}
