{% extends 'Range/Header/DrillBase.html' %}

{% block style %}
  {% include 'Range/Style/WoodsStyle.html' %}
{% endblock %}

{% block title %}Woods Test{% endblock%}

{% block pageheader %}Woods Test{% endblock %}

{% block drillarea1 %}Center Hit Drills{% endblock %}
  {% block drill1-1 %}Heel and Toe Hits.{% endblock %}
  {% block drill1-2 %}High and Low Face Hits.{% endblock %}
  {% block drill1-3 %}Block practice 10 shots - three-quarter swing.{% endblock %}
{% block drillarea2 %}Club Path Drills{% endblock %}
  {% block drill2-1 %}Weak and Strong Grip.{% endblock %}
  {% block drill2-2 %}{% endblock %}
  {% block drill2-3 %}{% endblock %}
{% block drillarea3 %}Angle of Attack Drills{% endblock %}
  {% block drill3-1 %}High and Low Face Hits.{% endblock %}
  {% block drill3-2 %}{% endblock %}
  {% block drill3-3 %}{% endblock %}

  {% block drill_table_header1 %}{% endblock %}

  {% block drill_table_row1 %}{% endblock %}
