<!DOCTYPE html>
<html>
<head>

{% load static %}

  <title>{% block title %}Title{% endblock %}</title>

  <style>
  {% block style %}{% endblock %}
  body {
    margin: 15px;
  }
  div, table {
    padding: 5px;
  }
  th {
    text-align: left;
  }
  h2 {
    text-align: center;
  }
  .gb1{
           margin: 4px 2px 4px 2px;
           width: 100px;
       }
  #databox{
    border: 2px solid green;
    padding: 5px;
    width: auto;
  }
  #formbox{
    width: auto;
    border: 2px solid black;
  }
  #drillrow{
    padding: 10px 0px 5px 0px;
  }
  </style>
</head>
<body>
  <div id="homebutton">
    <a href="{% url 'RangeMain' %}">
      <span>Home</span>
    </a>
  </div>

<h2>{% block pageheader %}Page Header{% endblock %}</h2>

{% block formbox %}Form Box{% endblock %}

{% block drills %}Drills{% endblock %}

{% block drillhistory %}Drill History{% endblock %}

<script>
  var today = new Date();
  var stringmonth = 1 + today.getMonth();
  var stringdate = stringmonth + '/' + today.getDate() + '/' +
    today.getFullYear();
    document.getElementById('id_date').value = stringdate;
    
  function showcenterstrike() {
    document.getElementById('centerstrike').style.display="block";
    document.getElementById('clubpath').style.display="none";
    document.getElementById('divotlocation').style.display="none";
  }
  function showclubpath() {
    document.getElementById('centerstrike').style.display="none";
    document.getElementById('clubpath').style.display="block";
    document.getElementById('divotlocation').style.display="none";
  }
  function showdivotlocation() {
    document.getElementById('centerstrike').style.display="none";
    document.getElementById('clubpath').style.display="none";
    document.getElementById('divotlocation').style.display="block";
  }

  {% block script %} {% endblock %}
</script>

</body>
