{% extends 'Range/ExperimentalHeader.html' %}

{% block content %}

<head>
  <title>Woods Experimental</title>
  <style>
    html {
      border: solid 10px green;
      box-shadow: inset 0 0 0 5px limegreen;
    }
  </style>
</head>
<body>
<h1>Woods Experimental</h1>
<div id='drillrow'>
  <input type="radio" name="data" onclick="showclubpath()" id="buttonclub" checked="checked"> Club Path
  <input type="radio" name="data" onclick="showcenterstrike()" id="buttonclub"> Center Strike
  <input type="radio" name="data" onclick="showdivot()" id="buttonclub"> Angle of Attack<br>

  <div id='clubpath'>
    <p><b>Club Path<b></p>
      <ul>
        <li>Drill 1</li>
        <li>Drill 2</li>
        <li>Drill 3</li>
      </ul>
  </div>
  <div id='centerstrike' style="display: none;">
    <p><b>Center Strike<b></p>
      <ul>
        <li>Drill 1</li>
        <li>Drill 2</li>
        <li>Drill 3</li>
      </ul>
  </div>
  <div id='divot' style="display: none;">
    <p><b>Angle of Attack<b></p>
      <ul>
        <li>Drill 1</li>
        <li>Drill 2</li>
        <li>Drill 3</li>
      </ul>
  </div>
</div>
</body>
{% endblock %}
