{% extends 'Range/Header/TechnicalHeader.html' %}

{% block content %}

<head>
  <title>Irons Technical</title>
  <style>
    html {
      border: solid 10px brown;
    }
  </style>
</head>
<body>
<h1>Irons Technical</h1>
<div id='drillrow'>
  <input type="radio" name="data" onclick="showclubhook()" id="buttonclub" checked="checked"> Club Path Hook
  <input type="radio" name="data" onclick="showclubslice()" id="buttonclub"> Club Path Slice
  <input type="radio" name="data" onclick="showcenter()" id="buttonclub"> Center Hit
  <input type="radio" name="data" onclick="showangle()" id="buttonclub"> Divot Location<br>

  <div id='clubpathhook'>
    <p><b>Level 1:</b> Club Path Hook </p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
  <div id='clubpathslice' style="display: none;">
    <p><b>Level 1:</b> Club Path Slice </p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
  <div id='centerstrike' style="display: none;">
    <p><b>Level 1:</b> Center Strike</p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
  <div id='angleofattack' style="display: none;">
    <p><b>Level 1:</b> Divot Location</p>
    <p><b>Level 2:</b> </p>
    <p><b>Level 3:</b> </p>
    <p><b>Level 4:</b> </p>
    <p><b>Level 5:</b> </p>
    <p><b>Level 6:</b> </p>
  </div>
</div>
</body>
{% endblock %}
