{% extends 'Range/MenuBase.html' %}

{% block title %}Irons Menu{% endblock %}

{% block header %}Irons Drills{% endblock %}

{% block link1 %}{% url 'IronsTest' %}{% endblock %}

{% block link2 %}{% url 'IronsTechnical' %}{% endblock %}

{% block link3 %}{% url 'IronsExperimental' %}{% endblock %}

{% block link4 %}{% url 'IronsCalibration' %}{% endblock %}

{% block link5 %}{% url 'IronsPerformance' %}{% endblock %}

{% block link6 %}{% url 'IronsGames' %}{% endblock %}

{% block content %}
{% endblock %}
