{% extends 'Range/Header/TechnicalHeader.html' %}

{% block style %}
  {% include 'Range/Style/WoodsStyle.html' %}
{% endblock %}

{% block title %}Woods Technical{% endblock%}

{% block pageheader %}Woods Technical{% endblock %}

{% block drillarea1 %}Center Hit{% endblock %}
  {% block drill1-1 %}Block practice 10 shots - half swing.{% endblock %}
  {% block drill1-2 %}Routine practice 10 shots - half swing.{% endblock %}
  {% block drill1-3 %}Block practice 10 shots - three-quarter swing.{% endblock %}
  {% block drill1-4 %}Routine practice 10 shots - three-quarter swing.{% endblock %}
  {% block drill1-5 %}Block practice 10 shots - full swing.{% endblock %}
  {% block drill1-6 %}Routine practice 10 shots - full swing.{% endblock %}
{% block drillarea2 %}Club Path{% endblock %}
  {% block drill2-1 %}{% endblock %}
  {% block drill2-2 %}{% endblock %}
  {% block drill2-3 %}{% endblock %}
  {% block drill2-4 %}{% endblock %}
  {% block drill2-5 %}{% endblock %}
  {% block drill2-6 %}{% endblock %}
{% block drillarea3 %}Divot Location{% endblock %}
  {% block drill3-1 %}{% endblock %}
  {% block drill3-2 %}{% endblock %}
  {% block drill3-3 %}{% endblock %}
  {% block drill3-4 %}{% endblock %}
  {% block drill3-5 %}{% endblock %}
  {% block drill3-6 %}{% endblock %}
